@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Passion+One:wght@400;700;900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Passion+One:wght@400;700;900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&family=Sriracha&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(254, 254, 254);
    min-height: 100%vh;
}

header{
    background-color: black;
    text-align: center;
    color: white;
}
header > h1{
    font-family: "Passion One", serif;
    font-size: 10vw;
    font-weight: 500; 
    font-variant: small-caps;
    padding-top: 50px;
}


.header{
   color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: none;
    padding-bottom: 50px;
}

header a{
    text-decoration: none;
}
#autor:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-size: 3vw;
    
}
section p{
    padding-bottom: 10em;
}

.imagem p{
    background-color: rgba(0, 0, 0, 0.555);
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
    text-shadow: 1px 1px 0px black;

}
.normal{
    background-color: white;
    color: black;
}
main{
    max-width: 1570px;
    min-width: 290px;
}
main p{
    font-family: "Sriracha", serif;
    padding: 30px;
}

.imagem{
    color: white;
    display: inline-block;
    background-color: #0000006e;
    box-shadow: inset 5px 5px 13px 0px black;
}

#img1{
    background-image: url('imagens/background001.jpg');
    background-position: right center;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
  
}

#img2{

    background-image: url('imagens/background002.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-width: 350px;
    display: block;
}

footer{
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 15px;
   
}

footer a{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: none;
    
}
footer a:hover{
    text-decoration: underline;
}
